{% extends 'base.html.twig' %}

{% block title %}Plages{% endblock %}

{% block body %}
    <!-- Minimal responsive + columns -->
    <main class="container">
        <div class="row">
            <!-- Content (les pages) -->
            <div class="col-9">

                <h1>La météo des plages</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellendus nisi illum
                    necessitatibus
                    officiis, quaerat aspernatur at animi sapiente expedita praesentium dignissimos. Unde iusto eveniet
                    cum.
                    Dolorum molestias accusamus vero.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit et eligendi cum officia. Neque
                    dignissimos veniam libero itaque molestias doloribus delectus, corporis, quia dolores quasi suscipit
                    maiores sunt? Qui, omnis?</p>

            </div>

            {% include('main/_widget.html.twig') %}
            
        </div>
    </main>

{% endblock %}