<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
    <body class="mb-5">
    <nav class="container py-3 mb-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('mountains') }}">Montagne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('beaches') }}">Plages</a>
            </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>

</html>
